<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  <p><img src="https://media.giphy.com/media/8EmeieJAGjvUI/giphy.gif"></p>
  <p class = 'giffy'><a href="https://giphy.com/explore/homer-simpson">Via Giffy</a></p>
  <p class = 'second'>www.giphy.com/explore/homer-simpson</p>
    <p class = 'main'>Welcome to <%= title %></p>
  </body>
</html>
